{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<input type="hidden" name='newlist_id' id='newlist_id' value="{$info.newlist_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
					<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">新股名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="names" value="{$info.names}" name="names" class="form-control" placeholder="请输入新股名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">发行价格：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="price" value="{$info.price}" name="price" class="form-control" placeholder="请输入发行价格">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">保证金比例（例：0.25，百分比）：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="margin_ratio" value="{$info.margin_ratio}" name="margin_ratio" class="form-control" placeholder="请输入保证金比例">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">发行时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{$info.fxtime}" name="fxtime"  placeholder="请输入上架时间" class="form-control" id="fxtime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">最低申购数量：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="num" value="{$info.num}" name="num" class="form-control" placeholder="请输入最低申购数量">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">杠杆倍数：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="lever" value="{$info.lever}" name="lever" class="form-control" placeholder="请输入杠杆倍数">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['zt'])){ $info['zt'] = 0; }; ?>
							<input name="zt" value="1" type="radio" {if condition="$info.zt eq '1'"}checked{/if} title="开启">
							<input name="zt" value="0" type="radio" {if condition="$info.zt eq '0'"}checked{/if} title="关闭">
						</div>
					</div>
					<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
	layui.use(['form'],function(){});
	laydate.render({elem: '#fxtime',type: 'date',trigger:'click'});
	var CodeInfoDlg = {
		CodeInfoData: {},
		validateFields: {
		}
	}

	CodeInfoDlg.collectData = function () {
		this.set('newlist_id').set('names').set('price').set('fxtime').set('num').set('lever').set('margin_ratio');
	};

	CodeInfoDlg.update = function () {
		this.clearData();
		this.collectData();
		if (!this.validate()) {
			return;
		}
		var zt = $("input[name = 'zt']:checked").val();
		var ajax = new $ax(Feng.ctxPath + "/Newlist/update", function (data) {
			if ('00' === data.status) {
				Feng.success(data.msg,1000);
				window.parent.CodeGoods.table.refresh();
				CodeInfoDlg.close();
			} else {
				Feng.error(data.msg + "！",1000);
			}
		})
		ajax.set('zt',zt);
		ajax.set(this.CodeInfoData);
		ajax.start();
	};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
